# PlatformIO
.pio/
.piolibdeps/

# Python virtual environment
pc/.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code local settings
.vscode/

# Flutter
mobile/.dart_tool/
mobile/.idea/
mobile/build/
mobile/.metadata
mobile/pubspec.lock
mobile/esp32_thermal_imaging.iml
mobile/esp32_thermal_imaging_android.iml
